*{
    font-family: Arial, Helvetica, sans-serif;
}


.cabecalho {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 6px black;
    padding: 30px 0;
    justify-content: space-between;
}

.menu_nav {
    margin-right: 100px;
    flex: 1;
}

.menu_lista {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.menu_item {
    font-size: 21px;
    
}

.menu_item a {
    text-decoration: none;
    color: #1351d8;
}

.redes_sociais p {
    margin-right: 10px;
}

.footer_icone {
    width: 23px;
}

.footer_texto {
    color: white;
}
.header_logo {
    width: 100px;
}

.header_logo img {
    width: 100%;
}

.redes_sociais {
    display: flex;
    align-items: center;
}

.redes_sociais_lista {
    display: flex;

}

.rodape {
    width: 100%;
    display: flex;
    align-self: flex-end;
    box-shadow: 1px 1px 6px black;
    justify-content: space-between;
    background-color: #1b357e; 
    color: white;
    align-items: center;
}

.redes_sociais p {
    margin-right: 10px;
}

.footer_icone {
    width: 23px;
}

.footer_texto {
    color: white;
}


@media(max-width:760px) {
    .cabecalho, .menu_lista {
        flex-direction: column;
        text-align: center;
    }

    .rodape {
        flex-direction: column-reverse;
        align-items: center;
        gap: 8px;
    }
}